.content {
  max-width: 1160px;
  margin: auto;
  border: 1px solid #dddddd;
  background: rgba(20, 255, 67, 0.3);
  padding: 2px;
}
hr{
  border: 1px solid violet;
  margin: 8px;
}
body {
  background-color: white;
}
h1,h2{
	font-family: 'Courier New', monospace; 
	font-size: 30px; 
	text-shadow: 3px 3px yellow,0 0 28px orange;
}
table{
	font-family:arial,sans-serif;
	border-collapse: collapse;
	text-align: left;
	width:100%;
}
td,th{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}	
tr:nth-child(even){
	background-color: #dddddd;
}
ul {
	list-style: inside;
	text-align: left;
	width: 39%;
}
img{
	border: 2px solid black;
	border-style: solid;
}
