.content {
  max-width: 1164px;
  margin: auto;
  border: 2px solid #dddddd;
  background: rgb(144, 236, 180);
  padding: 2px;
}
hr{
  border: 1px solid violet;
  margin: 8px;
}
body {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-orange-solid-color-shading-texture-image_23441.jpg");
}
h1,h2{
	font-family: 'Courier New', monospace; 
	font-size: 30px; 
	text-shadow: 3px 3px yellow,0 0 28px orange;
}
table{
	font-family:arial,sans-serif;
	border-collapse: collapse;
	text-align: left;
	width:98%;
}
td,th{
	border: 1px solid violet;
	text-align: left;
	padding: 8px;
}	
tr:nth-child(odd){
	background-color: #dddddd;
}
ul {
	list-style: inside;
	text-align: left;
	width: 39%;
}
img{
	border: 2px solid black;
	border-style: solid;
}
